<!DOCTYPE html>
<html>

<head>
    <title>exambae</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="/public/css/app.css">
    <!-- endinject -->
</head>

<body ng-app="exambae" ng-cloak>
    <div ng-controller="HeaderController as vm" layout="column" layout-align="space-around strecth">
    <md-toolbar class="md-tall md-accent">
    <div layout="row">

    <md-menu>
      <md-button ng-click="vm.openMenu($mdOpenMenu, $event)"><md-icon ng-bind="'menu'" ></md-icon></md-button>
      <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
      </md-button>-->
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ui-sref='checktransactions'>
            Check past transactions
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    
      <h1 class="md-toolbar-tools" ui-sref="newexam">
        <span>ExamBae 
            <md-icon ng-bind="'favorite'"></md-icon></span>
      </h1>
    </div>
          <div flex="25" ng-hide="vm.state != 'home'" >
              <md-button aria-label="Learn More" ui-sref="newexam">Upload today and Turn that A into a paycheck</md-button>
        </div>
        <div flex="25" ng-hide="vm.state != 'newexam' &&  vm.state != 'examreceipt' && vm.state != 'viewexam' && vm.state != 'checktransactions'" >
              <md-button aria-label="Learn More" ui-sref="home">Get back to schemin'</md-button>
        </div>
    
    </md-toolbar>
    
    </div>
    <!--<div layout='row' layout-fill layout-align='space-around start' ui-view></div>-->


    <div ui-view layout='column' flex=90 layout-align='center center'></div>
    <!-- inject:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/shadycss/scoping-shim.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/boostrap/dist/js/bootstrap.js"></script>
    <script src="/public/js/config/app.js"></script>
    <script src="/public/js/config/config.js"></script>
    <script src="/public/js/factories/bitcoinApi-factory.js"></script>
    <script src="/public/js/factories/exam-factory.js"></script>
    <script src="/public/js/factories/search-factory.js"></script>
    <script src="/public/js/controllers/cashout-controller.js"></script>
    <script src="/public/js/controllers/checktransactions-controller.js"></script>
    <script src="/public/js/controllers/examreceipt-controller.js"></script>
    <script src="/public/js/controllers/header-controller.js"></script>
    <script src="/public/js/controllers/home-controller.js"></script>
    <script src="/public/js/controllers/newexam-controller.js"></script>
    <script src="/public/js/controllers/viewexam-controller.js"></script>
    <script src="/public/js/directives/error-directive.js"></script>
    <script src="/public/js/directives/exam-directive.js"></script>
    <script src="/public/js/directives/loading-directive.js"></script>
    <script src="/public/js/directives/success-directive.js"></script>
    <script src="/public/js/directives/transaction-directive.js"></script>
    <!-- endinject -->
</body>

</html>
