<md-card>
 <md-card-content>
   <h2>{{exam.description}}</h2>
   <p>Professor: {{exam.professor}}</p>
   <p>Number of Downloads: {{exam.number_of_downloads}}</p>
 </md-card-content>
 <div ng-if="exam.free_or_nah">
 <md-card-footer>
   <md-button class="md-raised md-accent">FREE</md-button>
 </md-card-footer>
</div>
<div ng-if="!exam.free_or_nah">
 <md-card-footer>
   <md-button class="md-accent"><md-icon ng-bind="'attach_money'"></md-icon>{{exam.price}}</md-button>
 </md-card-footer>
</div>

</md-card>