<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">

    <h2><span class="label label-info">ExamBae<span class="glyphicon glyphicon-heart"></span></span></h2>
    <br>
    <pre>Discover thousands of <span class="label label-info">FREE</span> and paid educational resources. Created by your fellow students. Best of all everything is anonymous</pre>
    <br>
    <div ng-hide="vm.loadingSchools">
    <h4>Search by School and Class</h4>
    <label>School Name:</label>
    <input type="text"  ng-model="vm.searchSchool" ng-change='vm.searchSchoolChange(vm.searchSchool)' uib-typeahead="state.display for state in vm.schools | filter:$viewValue | limitTo:8" typeahead-on-select="vm.selectedSchoolChange($item)" class="form-control">
    <!-- <i ng-show="vm.loadingSchools" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="vm.schoolQueryNoResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div> -->
      <div ng-show="vm.schoolHasBeenSelected">
    <label>Class:</label>
      <input type="text"  ng-model="vm.searchClass" uib-typeahead="state.display for state in vm.schoolClasses | filter:$viewValue | limitTo:8" typeahead-on-select="vm.selectedClassChange($item)" class="form-control">
      </div>
    </div>
    <br>
    <h4>Search by Tag</h4>
    <input type="text"  ng-model="vm.searchTag"  uib-typeahead="state.display for state in vm.tags | filter:$viewValue | limitTo:8" typeahead-on-select="vm.selectedTagChange($item)" class="form-control">
  </div>

  <div class="row" ng-hide='vm.loadingExams'>
    <div class="col-sm-6 col-md-4" ng-repeat="exam in vm.exams">
      <div class="thumbnail" ui-sref="viewexam({examId: exam.id})">
        <div class="caption">
          <h3>{{ exam.school_class }} ::: ${{exam.professor}}</h4>
          <h4>{{ exam.school }}</h4>
          <p>{{ exam.description }}</p>

          <div class="alert alert-warning" role="alert">
{{exam.number_of_downloads}} number of downloads
        </div>

          <h3 ng-show="exam.free_or_nah"><span class="label label-info">FREE</span></h3>
          <h3 ng-hide="exam.free_or_nah"><span class="label label-success">{{exam.price}} USD</span></h3>
        </div>
      </div>
    </div>

    
  </div>


</div>

