  
<div ng-controller="newexamController" layout="row" layout-fill>

<md-content layout="column" flex="100">

      <form name="vm.metaDataForm">

        <div layout-gt-sm="row" flex="100">
        <md-input-container class="md-block" flex="100">
          <label>School</label>
          <input required ng-minlength="5" name="school" ng-model="vm.exam.school">
          <div ng-messages="vm.metaDataForm.school.$error">
              
              <div ng-message="required">A school is required.</div>
              <div ng-message="minlength">School name must be longer than 5 characters.</div>
          </div>

        </md-input-container>
      </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <labeL>Professor</label>
              <input required name="professor" ng-minlength="2" ng-model="vm.exam.professor">
              <div ng-messages="vm.metaDataForm.professor.$error">
                <div ng-message="minlength">A professor name must be longer than 2 characters.</div>
                <div ng-message="required">A proffesor name is required</div>
               </div> 
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Class</label>
            <input required name="school_class" ng-model="vm.exam.school_class">
            <div ng-messages="vm.metaDataForm.school_class.$error">
              
              <div ng-message="required">A school class is required.</div>
            </div>
          </md-input-container>
        </div>
        
        

        <div layout-gt-sm="row" flex="100">
        <md-input-container class="md-block" flex="100">
          <label>Description</label>
          <textarea required ng-minlength="15" name="description" ng-model="vm.exam.description"  md-maxlength="150" rows="5" md-select-on-focus></textarea>
          <div ng-messages="vm.metaDataForm.description.$error">
              <div ng-message="minlength">The description must be longer than 15 characters.</div>
              <div ng-message="required">A description is required.</div>
          </div>
        </md-input-container>
      </div>


      <div layout-gt-sm="row" flex="100">
        <md-chips  flex="100" ng-model="vm.exam.tags" name="tags" readonly="vm.tagsReadonlyToggle"
                md-removable="vm.tagsRemovable" md-max-chips="5" placeholder="Enter a tags...">
        <md-chip-template>
          <strong>{{$chip}}</strong>
        </md-chip-template>
      </md-chips>

      </md-content>
      </div>

      <br>
      <br>

      <div layout="row">
    <div layout="column" flex="50">

          <md-input-container class="md-block" flex="100">
            <label>Resource Price in USD<md-icon ng-bind="'attach_money'"></md-icon></label>
            <div layout="row" flex="100">
        <input ng-model="vm.exam.price" name="price" type="number" min="0.00" step="0.01" max="2500" >
        </div>
        </md-input-container>
        <p ng-show="vm.exam.price === 0.0">ITS FREE!!!<md-icon ng-bind="'accessibility'"></md-icon></p>
      </div>
      </form>

      
        <div layout="column" flex="50" layout-align="center center" ng-hide="vm.uploadUrlLoading">
        <md-content flex="100" ng-hide="vm.fileUploaded">
          <input type="file" file-input="file" id="file"/>
      <md-button  id="uploadButton" class="md-raised md-accent" ng-click="vm.uploadFile()">Upload</md-button>
      </md-content>
      <md-content flex="100" ng-show="vm.fileUploaded">

      <md-button  id="uploadButton" class="md-raised md-accent" ng-click="vm.deleteFile()">Cancel Upload<md-icon ng-bind="'delete'"></md-icon></md-button>
      </md-content>
      </div>
    </div>
    <div layout="row">
    </div>



<md-button class="md-raised md-accent" ng-disabled="vm.metaDataForm.$invalid || vm.exam.file == '' "  ng-click="vm.postExam()">Submit</md-button>





</div>