<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>






<div class="jumbotron">

  <h1 class="text-center">{{vm.exam.school_class}}</h1>
  <p class="text-center">{{vm.exam.professor}}</p>
  <label>Description:  </label>
  <div class="well"><span>{{vm.exam.description}}
    
    </span>
  </div>
</div>




<div class="row">
  <div class="col-lg-6 col-sm-12">


<div class="panel panel-info" ng-hide="vm.free_or_nah">
  <div class="panel-heading">how to pay</div>
    <div class="panel-body">


<div class="alert alert-success" role="alert">
  <h4 class="text-center"><span class="glyphicon glyphicon-education" airia-hidden="true"></span>
  {{vm.priceInBTC}} Dogecoins ~ <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>{{vm.exam.price}} USD</h4>

</div>



<ul class="list-group">
  <li class="list-group-item">1. Deposit dogecoin amount into {{vm.address}}
</li>
<li class="list-group-item list-group-item-info"> <span class="text-center"></span>
  <h6 class="text-center"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> {{vm.address}}</h6>
</li>
  <li class="list-group-item">2. Go to 'Validate Payment'</li>
  <li class="list-group-item">3. Provide us with Transaction ID</li>
  <li class="list-group-item">4.????</li>
  <li class="list-group-item">5. Profit</li>

</ul>

</div>

</div>


  </div>
  <div class="col-lg-4 col-sm-12">
<div class="panel panel-success">
  <div class="panel-heading">DAT QR CODE</div>
    <div class="panel-body">
 
<img ng-src="{{vm.qr_code_url}}"  alt="QR HOE" />

</div>

</div>
</div>
</div>


</div>
