<div ng-controller="examreceiptController">
	<md-content layout-padding ng-hide="vm.loading">
	<md-whiteframe class="md-whiteframe-21dp" flex="90" layout="column" layout-align="space-around ">
	School: {{vm.exam.school}}
	<br>
	Class: {{vm.exam.school_class}}
	<br>
	Professor: {{vm.exam.professor}}
	<br>
	Description: {{vm.exam.description}}
	<br>
	Price: {{vm.exam.price}}
	<br>
	Secret: {{vm.exam.secret}}
	<br>
	</md-whiteframe>
	<md-divider></md-divider>
	<success-directive></success-directive>
</md-content>

</div>