<md-whiteframe class="md-whiteframe-21dp" layout="column" >
</br>
 	<div layout="row" layout-align="space-around center">
		<div flex="90" >
			<md-autocomplete
		          ng-disabled="vm.isDisabled"
		          md-no-cache="vm.noCache"
		          md-selected-item="vm.selectedItem"
		          md-search-text-change="vm.searchTextChange(vm.searchText)"
		          md-search-text="vm.searchText"
		          md-selected-item-change="vm.selectedItemChange(item)"
		          md-items="item in vm.querySearch(vm.searchText)"
		          md-item-text="item.display"
		          md-min-length="0"
		          placeholder="School Name">

		        	<md-item-template>
		          	<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.value}}</span>
		        	</md-item-template>
				  	<md-not-found>
		          	No states matching "{{vm.searchText}}" were found.
		          	<a ng-click="vm.newState(vm.searchText)">Create a new one!</a>
		        	</md-not-found>
		     </md-autocomplete>

		</div>
</div>
</br>

	<div layout="row" layout-align="space-around center">
		<div flex="90" >

			<md-autocomplete 
			          ng-disabled="vm.isDisabled"
			          md-no-cache="vm.noCache"
			          md-selected-item="vm.selectedItem"
			          md-search-text-change="vm.searchTextChange(vm.searchText)"
			          md-search-text="vm.searchText"
			          md-selected-item-change="vm.selectedItemChange(item)"
			          md-items="item in vm.querySearch(vm.searchText)"
			          md-item-text="item.display"
			          md-min-length="0"
			          placeholder="What is your favorite US state?">

			        <md-item-template>
			          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.value}}</span>
			        </md-item-template>
					  <md-not-found>
			          No states matching "{{vm.searchText}}" were found.
			          <a ng-click="vm.newState(vm.searchText)">Create a new one!</a>
			        </md-not-found>
			</md-autocomplete>
		</div>
	</div>
</br>

<div ng-repeat="exam in vm.exams">
  <exam-directive exam="exam"></exam-directive>
</div>

<exam-directive exam="vm.exam1"></exam-directive>
<exam-directive exam="vm.exam2"></exam-directive>
</md-whiteframe>