<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        ExamBae<span class="glyphicon glyphicon-heart"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Validate Payment</a></li>
        <li class="active"><a ng-href="#">Cash Out</a></li>
      </ul>
<button class="btn btn-info navbar-btn">UPLOAD TODAY!!</button>
    </div>
  </div>
</nav>
