<div class="container">
<form name="vm.metaDataForm">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>



  <div class="panel panel-info">
   <div class="panel-heading">Tell us more about your school resource</div>
   <div class="panel-body">

<div class="well"><span>Hey, glad you're down for business. In order for us to find you customers, we will need to konw more about your educational resource.</div>
<div class="row">
  <div class="col-lg-8">
<label>School</label>


  <input type="text" class="form-control" placeholder="Fuck roll tide" required ng-minlength="5" name="school" ng-model="vm.exam.school">

</div>
</div>

    <br>
<div class="row">
  <div class="col-lg-8">
<label>Professor</label>


  <input type="text" class="form-control" placeholder="Shout out Dr.Chi" required ng-minlength="5" name="professor" ng-model="vm.exam.professor">

</div>
</div>
<br>
<div class="row">
  <div class="col-lg-8">
<label>Class Name</label>


  <input type="text" class="form-control" placeholder="CSC2011" required ng-minlength="5" name="school_class" ng-model="vm.exam.school_class">

</div>
</div>


     
   
    </div>
  </div>


    <div class="panel panel-info">
   <div class="panel-heading">Tell us more about your school resource</div>
   <div class="panel-body">

<div class="well"><span>Why should users buy your product?? Be descriptive and creative to seal the deal (Remember they are buying a file) ;)</span></div>

<div class="form-group">
  <label for="description">Description:</label>
  <textarea class="form-control" rows="5" id="description"
  ng-model="vm.exam.description"></textarea>
</div>
    </div>
  </div>



  <div class="panel panel-info">
   <div class="panel-heading">Tell us more about your school resource</div>
   <div class="panel-body">

<div class="well"><span> so here you will upload your photos, pdfs, powerpoints, and knowledge</span></div>

<div class="alert alert-success" role="alert" ng-show="vm.fileUploaded">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
  FILENAME

</div>


<div class="col-xs-2 center-block" style="float:none"> 

<div class="btn-group">
  <input type="file" file-input="file" id="file" ng-hide="vm.fileUploaded" />
  <br>
        <label class="btn btn-info" ng-model="checkModel.left" ng-hide="vm.fileUploaded" ng-click="vm.uploadFile()" >Upload</label>
    </div>

    <div class="btn-group" ng-show="vm.fileUploaded">
        <label class="btn btn-danger" ng-model="checkModel.right" ng-click="vm.deleteFile()" uib-btn-checkbox>Wrong file, Cancel</label>
    </div>
  </div>
   
   </div>
</div>

  <div class="panel panel-info">
   <div class="panel-heading">Tell us how much you believe your information is worth</div>
   <div class="panel-body">
 <div class="well">
  <span> here is where you will price your information</span>

<pre><code>{ "School" : {{vm.exam.school}},</code>

<code>"Class": {{vm.exam.school_class}},</code>
<code>
"Professor": {{vm.exam.professor}},</code>
<code>
"Description": {{vm.exam.description}},</code>
<code>
"Price": {{vm.exam.price}}
}</code></pre>


</div>

<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-addon">.00</span>
</div>
<br>

<div class="i-am-centered">
  <div class="row">
        
        <label class="btn btn-info" ng-model="checkModel.right" uib-btn-checkbox>Release it for Free!</label>
      <label class="btn btn-success" ng-model="checkModel.right" uib-btn-checkbox>Nah, let's get paid</label>
</div>
</div>
    </div>





</div>
</form>
</div>
